table {
    background-color: #7f7f7f;
    border: 2px black solid;
    padding: 5px;
}

.clickableLabel {
    border-bottom: solid 1px;
    color: darkblue;
}

.clickableLabel:hover {
    font-size: 15px;
    color: blue;
}

.clickableLabel:active {
    font-size: 14px;
    color: darkblue;
}
