.tableFrame {
    width: 100%;
}

table {
    background-color: #7f7f7f;
    text-align: center;
}
table th, table td {
    border: 2px black solid;
    padding: 5px;
}

.clickableLabel {
    color: darkblue;
}

.clickableLabel:hover {
    font-size: 15px;
    color: blue;
}

.clickableLabel:active {
    font-size: 14px;
    color: darkblue;
}
