body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.clickableLabel {
  border-bottom: solid 1px;
  color: darkblue;
}

.clickableLabel:hover {
  font-size: 15px;
  color: blue;
}

.clickableLabel:active {
  font-size: 14px;
  color: darkblue;
}